<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">@ViewBag.Title</h5>
                <p class="card-category">Разработан Алексеем Ягело & Дмитрием Морозовым</p>
            </div>
            <div class="card-body ">
                <p>Важным этапом обучения является проверка усвоенного материала. Наиболее эффективный способ данной проверки – это тестирование обучаемых. Целью дипломного проекта является проектирование и реализация интернет-приложения для тестирования учащихся вузов, школ.</p>
                <p>В общем случае тестирование выполняет три основные взаимосвязанные функции: диагностическую, обучающую и воспитательную.</p>
                <p>Диагностическая функция заключается в выявлении уровня знаний, умений, навыков студента. Это основная и самая очевидная функция тестирования. По объективности, широте и скорости диагностирования, тестирование превосходит все остальные формы педагогического контроля.</p>
                <p>Обучающая функция тестирования состоит в мотивировании студента к активи-зации работы по усвоению учебного материала.</p>
                <p>Воспитательная функция проявляется в неизбежности тестового контроля. Это дисциплинирует, организует и направляет деятельность студента, помогает выявить и устранить пробелы в знаниях, формирует стремление развить свои способности.</p>
                <p>
                    Преимущества тестирования:
                    <ul>
                        <li>тестирование является более качественным и объективным способом оценивания;</li>
                        <li>тестирование – более справедливый метод, оно ставит всех студентов в равные условия, как в процессе контроля, так и в процессе оценки, исключая субъективизм преподавателя;</li>
                        <li>тесты – это более объёмный инструмент, поскольку позволяет установить уровень знаний студента по предмету в целом, чем при выполнении контрольной работы;</li>
                        <li>тестирование существенно экономит время преподавателя, отводимое на контроль знаний студентов, по сравнению с проверкой и защитой контрольных работ студентами. Это связано с тем, что тестированию одновременно подвергается сразу группа студентов.</li>
                    </ul>
                </p>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="far fa-clock"></i> Опубликовано 30.05.2018 в 19:33
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#homeMenuItem").addClass("active");
</script>